@import url(./header.css);
@import url(me.css);
@import url(info.css);
@import url(Tech.css);
@import url(abme.css);

* {
  box-sizing: border-box;
  background: #0f1624;
  color: white;
}

.cont {
  padding: 0 50px;
}

@media (max-width: 500px) {
  .cont {
    padding: 0;
  }
}
